*{
    font-family: cursor, monospace;
    font-size: 16px;
}
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #182952, #5d72f6);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: rgb(165, 162, 162);

}


.terminal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    margin-top: 10;
    background-color: rgb(9, 3, 0);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Adjust shadow properties as needed */
}

ul {
    list-style-type: none;
    padding: 0; /* Remove default list padding */
}
  li {
    margin-bottom: 5px; /* Add some spacing between list items */
    display: flex; /* Use flexbox for better alignment */
    /* padding: 10px; */
  }

  code {
    color: #DB2D20;
    min-width: 100px;
    display: inline-block; 
  }
.terminal-body {
    height: 90%;
    padding: 15px;
    overflow-y: auto
}
.experience-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience-div-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.experience-div-title > *{
    margin: 0;
}
.terminal-header {
    position: relative;
    width: 100%;
    height: 25px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    background-color: #d9d9d9;
    font-size: 0;
}

.terminal-header .terminal-buttons {
    position: absolute;
    top: 7px;
    right: 10px;
}

.terminal-header h1 {
    position: absolute;
    top: 4px;
    right: 0;
    left: 0;
    margin: 0 auto;
    color: #424242;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}

.terminal .btn--terminal {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 100px;
}

.green-button {
    border: 1px solid #6d6d6d;
    background-color: #868686;
}

.orange-button {
    border: 1px solid #4c4c4c;
    background-color: #656565;
}

.red-button {
    border: 1px solid #000;
    background-color: #171717;
}


.textInput {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 100px;
    font-size: 16px;
    color: rgb(165, 162, 162);
}

.textInput::selection {
    background-color: #cccccc;
}

@keyframes cursorBlink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.textInput::-webkit-input-placeholder {
    color: transparent;
}

.textInput:-moz-placeholder {
    color: transparent;
}

.textInput::-moz-placeholder {
    color: transparent;
}

.textInput:-ms-input-placeholder {
    color: transparent;
}

.textInput::placeholder {
    color: transparent;
}

.textInput::selection {
    animation: cursorBlink 1s infinite;
}

.textInput::-moz-selection {
    animation: cursorBlink 1s infinite;
}


.desktop-icon {
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.desktop-icon:active {
    background-color: rgba(242, 242, 242, 0.35);
    transform: translateY(1px);
}

.desktop-icon:hover {
    transform: translateY(-5px);
    background-color: rgba(242, 242, 242, 0.15);
}

.desktop-icon img {
    width: 80px;
    height: 80px;
}

.desktop-icon span {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: #F7F7F7;
}

.code-line {
    color: #01A252;
    min-width: 400px; 
    display: inline-block; 
}

#ascii-container {
    font-family: monospace;
    white-space: pre;
    overflow: hidden;
    
}

@keyframes typing {
    from { width: 0; }
}

a{
    color: #9C8394;
}
a:hover{
    background: #73ABAD;
    color: #211830;
}